.git
.github
node_modules
npm-debug.log
composer.lock
Dockerfile
Dockerfile.nginx
docker-compose.yml
storage/*.key
.env
.env.example
.gitignore
.editorconfig
.styleci.yml
README.md
tests
bootstrap/cache/*.php
storage/framework/cache/data/*
storage/framework/views/*.php
storage/framework/sessions/*
